<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Platform which revolutionizes how sustainable businesses interact with consumers">
    <meta name="keywords" content="NEWAY, cryptocurrency, ICO, NEWAY platform, decentralized, blockchain, stellar, real-time">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    <title>NEWAY - Decentralized Platform for sustainable businesses and consumers</title>
    <meta property="og:image" content="http://neway-io.appspot.com/assets/imgs/facebook-icon-.png" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
  <body>

    <div class="max-width-effect">
          <nav class="page-header navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-opacity">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/assets/imgs/NEWAY-ICON.svg" height="45" class="d-inline-block align-top" alt="NEWAY">
                <span id="navbar-brand-name">NEWAY</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Team">Team</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#FAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Press">Press</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Blog">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        EN
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Deutsch</a>
                        <a class="dropdown-item" href="#">Luxemburg</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>



    <div class="c87 c88" id="particles-js">
      <div class="c86" style="z-index:100;position:relative">
        <br>
        <div class="c120 c142 c136">
          <div class="c121 c156 c169 c179 c89">
            <h1>NEWAY - Decentralized Platform for sustainable businesses and consumers
            </h1>
            <div class="c91">
              <div>Offers breaking solutions regarding<!-- --> -
                <b>sustainable consumerism &amp; investments<!-- -->
                </b>
              </div>
              <div>From the people<!-- --> -
                <b>for the people <!-- -->
                </b>
              </div>
              <div>Active development<!-- --> -
                <b>worldwide<!-- -->
                </b>
              </div>
              <div>Strong team &amp; prestigious advisors
              </div>
              <div>Product testing in Q1 2019
              </div>
            </div>
          </div>
          <div class="c121 c156 c169 c173 c90">
            <h2 class="margin-top">News
            </h2>
            <a class="c92 newitems" target="_blank" rel="noopener" href="#">
              <div>COMING SOON: WHAT ARE NEWAY'S FIRST STEPS?
              </div>
            </a>
          </div>
          <div class="c121 c156 c169 c182 c89">
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
        <!--HERE comes th first display like in Gifto-->






        <div id="about"  class="jumbotron box-shadow">
         <div class="container c216">
           <h2 class="headline-of-box"> What is NEWAY?</h2>
           <p class="description-of-box">NEWAY unites consumers and investors with
             <a href="#qualified businesses">qualified businesses</a>
             on one platform,
              to promote sustainable production and
             consumerism.</p>
           <hr class="my-4">
           <p class="lead">
             <p>Click on a picture to get more information!</p>
           </p>
           <div class="c239 c252 margin-bottom">

             <img  alt="neway-protocol" class="c253" id="neway-protocol" src="/assets/imgs/neway-protocol.svg">
             <svg id="neway-protocol-svg" class="c253" viewBox="0 0 1054 697">

               <rect class="popup-with-zoom-anim" href="#projects-pop-up" x="455" y="30" rx="20" ry="20" width="140" height="140"
               style="fill:red;stroke:black;stroke-width:5;opacity:0" />
               <rect class="popup-with-zoom-anim" href="#community-pop-up" x="60" y="280" rx="20" ry="20" width="180" height="180"
               style="fill:red;stroke:black;stroke-width:5;opacity:0" />
               <rect class="popup-with-zoom-anim" href="#exchange-pop-up" x="455" y="510" rx="20" ry="20" width="140" height="140"
               style="fill:red;stroke:black;stroke-width:5;opacity:0" />
               <rect class="popup-with-zoom-anim" href="#business-pop-up" x="810" y="280" rx="20" ry="20" width="240" height="160"
               style="fill:red;stroke:black;stroke-width:5;opacity:0" />
               <circle class="popup-with-zoom-anim" href="#neway-pop-up" cx="527" cy="350" r="55" stroke="green" stroke-width="4" fill="yellow" opacity="0" />

               <text transform="translate(920,210)" class="c254 important-direction">Grow</text>
               <text transform="translate(700,120)" class="c254 important-direction">Create</text>
               <text transform="translate(350,120)" class="c254 important-direction">Invest</text>
               <text transform="translate(97,210)" class="c254 important-direction">Earn NWY</text>
               <text transform="translate(350,320)" class="c254 important-direction">Receive Goods</text>
               <text transform="translate(730,320)" class="c254 important-direction">Earn NWY</text>
               <text transform="translate(200,600)" class="c254 important-direction">Trade NWY</text>
               <text transform="translate(865,600)" class="c254 important-direction">Trade NWY</text>
               <text transform="translate(530,189)" class="c254 important-direction">Projects</text>
               <text transform="translate(530,670)" class="c254 important-direction">Exchange</text>
             </svg>
           </div>
           <p class="lead">
             <p>NWY = NEWAY's tokens</p>
           </p>
         </div>
       </div>

       <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
       <div id="projects-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Projects</h2>
         </div>
         <div class="important-listings">
           <p>can be created by businesses</p>
           <p>can be financed by the community</p>
           <p>Examples are...</p>
         </div>
       </div>
       <div id="community-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Community</h2>
         </div>
         <div class="important-listings">
           <p>can invest in projects and therefore earn NWY as interest</p>
           <p>buys goods with NWY</p>
           <p>can trade NWY on an external exchange platform</p>
         </div>
       </div>
       <div id="exchange-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Exchange</h2>
         </div>
         <div class="important-listings">
           <p>The place where NWY is traded against other currencies</p>
           <p>Buy NWY</p>
           <p>Withdraw NWY</p>
         </div>
       </div>
       <div id="business-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Businesses</h2>
         </div>
         <div class="important-listings">
           <p>can create new projects which are financed by the community</p>
           <p>receive NWY in exchange for goods</p>
           <p>can trade NWY on an external exchange platform</p>
         </div>
       </div>
       <div id="neway-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>NEWAY Platform</h2>
         </div>
           <div class="important-listings">
           <p>connects everything over the blockchain</p>
         </div>
       </div>





        <div id="Roadmap">
          <div class="c87 c88"  id="particles-js-2">
            <div class="container c216">
              <div class="c86" style="z-index:100;position:relative">
                <h2 style="position:relative">Roadmap</h2>
                <div class="c319">
                  <div class="top">
                    <div class="time-line-box active empty">
                      <div class="dot">
                        <div class="waves">

                        </div>
                      </div>
                      <div class="pointer">

                      </div>
                      <div class="box-content">
                        <div class="date">
                          PHASE 1
                        </div>
                        <div class="description"> Alpha version
                        </div>
                      </div>
                    </div>
                    <div class="time-line-box  ">
                      <div class="dot">
                        <div class="waves">

                        </div>
                      </div>
                      <div class="pointer">

                      </div>
                      <div class="box-content">
                        <div class="date">   Q2 2019 - PHASE 2
                        </div>
                        <div class="description"> Beta version
                      </div>
                    </div>
                  </div>
                  <div class="time-line-box  empty">
                    <div class="dot">
                      <div class="waves">

                      </div>
                    </div>
                    <div class="pointer">

                    </div>
                    <div class="box-content">
                      <div class="date">   PHASE 3
                      </div>
                      <div class="description"> Commercial version of NEWAY
                      </div>
                    </div>
                  </div>
                  <div class="time-line-box  ">
                    <div class="dot">
                      <div class="waves">

                      </div>
                    </div>
                    <div class="pointer">

                    </div>
                    <div class="box-content">
                      <div class="date">   Q3 2019 AND ON GOING
                      </div>
                      <div class="description"> Ongoing iterations and expansions
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bar">

                </div>
                <div class="bottom">
                  <div class="time-line-box active ">
                    <div class="dot"><div class="waves">

                    </div>
                  </div>
                  <div class="pointer">

                  </div>
                  <div class="box-content">
                    <div class="date">
                      PHASE 1
                    </div>
                    <div class="description">
                      Alpha version
                      </div>
                    </div>
                  </div>
                  <div class="time-line-box  empty">
                    <div class="dot">
                      <div class="waves">

                      </div>
                    </div>
                    <div class="pointer">

                    </div>
                    <div class="box-content">
                      <div class="date">
                        Q1 2019 - PHASE 2
                      </div>
                      <div class="description">
                        Beta version
                      </div>
                    </div>
                  </div>
                  <div class="time-line-box  ">
                    <div class="dot">
                      <div class="waves">

                      </div>
                    </div>
                    <div class="pointer">

                    </div>
                    <div class="box-content">
                      <div class="date">   PHASE 3
                      </div>
                      <div class="description">
                        Commercial version 1 of NEWAY
                      </div>
                    </div>
                  </div>
                  <div class="time-line-box  empty">
                    <div class="dot"><div class="waves">

                    </div>
                  </div>
                  <div class="pointer">

                  </div>
                  <div class="box-content">
                    <div class="date">
                      Q3 2019 AND ON GOING
                    </div>
                    <div class="description">
                      Ongoing iterations and expansions
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>








        <div  id="qualified businesses" class="jumbotron box-shadow forget-bottom-shadow">
          <div class="container c216">
            <h2 class="headline-of-box">What are qualified businesses?</h2>
            <p class="description-of-box">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>

        <div  id="Team" class="jumbotron">
          <div class="container c216">
            <h2 class="headline-of-box">Team</h2>
            <p class="description-of-box">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>

        <div  id="FAQ" class="jumbotron">
          <div class="container c216">
            <h2 class="display-4">FAQ</h2>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>

        <div  id="Press" class="jumbotron">
          <div class="container c216">
            <h2 class="display-4">Press</h2>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>

        <div  id="Blog" class="jumbotron">
          <div class="container c216">
              <h2 class="display-4">Blog</h2>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
            </div>
          </div>



      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/assets/js/jquery.magnific-popup.js"></script>
      <script src="/assets/js/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
      <script>particlesJS.load('particles-js', '/assets/particles.json', function() {
        console.log('callback - particles.js config loaded'); });
            particlesJS.load('particles-js-2', '/assets/particles.json', function() {
        console.log('callback - particles.js-2 config loaded'); });
      </script>
>



  </body>
</html>
