<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Platform which revolutionizes how sustainable businesses interact with consumers">
    <meta name="keywords" content="NEWAY, cryptocurrency, ICO, NEWAY platform, decentralized, blockchain, stellar, real-time">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114152658-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114152658-1');
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    <title>NEWAY - Decentralized Platform for sustainable businesses and consumers</title>
    <meta property="og:image" content="http://neway-io.appspot.com/assets/imgs/facebook-icon-.png" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
  <body>

    <div class="max-width-effect">
          <nav class="page-header navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-opacity">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/assets/imgs/NEWAY-ICON.svg" height="45" class="d-inline-block align-top" alt="NEWAY">
                <span id="navbar-brand-name">NEWAY</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#WhyjoinNEWAY?">Why join NEWAY?</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Team">Team</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Partners">Partners</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#FAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Press">Press</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#Blog">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        EN
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Deutsch</a>
                        <a class="dropdown-item" href="#">Luxemburg</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
















    <div class="c87 c88" id="particles-js">
      <div class="c86" style="z-index:100;position:relative">
        <br>
        <div class="c120 c142 c136">
          <div class="c121 c156 c169 c179 c89">
            <h1>NEWAY
            </h1>
            <div class="c91">
              <div>Offers breaking solutions regarding -
                <b>sustainable consumerism &amp; investments
                </b>
              </div>
              <div>From the people -
                <b>for the people
                </b>
              </div>
              <div>Active development-
                <b>worldwide
                </b>
              </div>
              <div>Strong team &amp; prestigious advisors
              </div>
              <div>Product testing in Q1 2019
              </div>
            </div>
          </div>
          <div class="c121 c156 c169 c173 c90">
            <h2 class="margin-top-s">News
            </h2>
            <a class="c92 newitems" target="_blank" rel="noopener" href="#">
              <div>COMING SOON: WHAT ARE NEWAY'S FIRST STEPS?
              </div>
            </a>
          </div>
          <div class="c121 c156 c169 c182 c89">
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>













    <div id="about"  class="jumbotron box-shadow">
      <div class="container c216">
        <h2 class="headline-of-box"> What is NEWAY?</h2>
        <p class="description-of-box">NEWAY unites consumers and investors with
          <a href="#qualified businesses">qualified businesses</a>
          on one platform,
           to promote sustainable production and
          consumerism.</p>
       <hr class="my-4">
        <div class="row">
         <div class="col-md margin-top-l">
           <div class="media">
             <img class="mr-1" src="/assets/imgs/currency.svg" alt="transparency">
             <div class="media-body">
               <h5 class="mt-0">NEWAY as a Currency</h5>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
             </div>
           </div>
         </div>
         <div class="col-md margin-top-l">
           <div class="media">
             <img class="mr-1" src="/assets/imgs/consumer.svg" alt="piggy-bank">
             <div class="media-body">
               <h5 class="mt-0">NEWAY for Consumers</h5>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
             </div>
           </div>
         </div>
         </div>
         <div class="row">
          <div class="col-md margin-top-l">
             <div class="media">
               <img class="mr-1" src="/assets/imgs/business-man.svg" alt="world">
               <div class="media-body">
                 <h5 class="mt-0">NEWAY for Businesses</h5>
                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               </div>
             </div>
           </div>
          <div class="col-md margin-top-l">
             <div class="media">
               <img class="mr-1" src="/assets/imgs/investment.svg" alt="world">
               <div class="media-body">
                 <h5 class="mt-0">NEWAY as an investment platform</h5>
                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               </div>
             </div>
           </div>
         </div>
        </div>
        </div>



    <div id="WhyjoinNEWAY?"  class="jumbotron c211 forget-top-shadow">
      <div class="container c216">
        <h2 class="headline-of-box">Why join NEWAY?</h2>
        <div class="row">
         <div class="col-md margin-top-l">
           <div class="media">
             <img class="mr-1" src="/assets/imgs/transparency.svg" alt="transparency">
             <div class="media-body">
               <h5 class="mt-0">Transparency</h5>
               Transparency is the main value of NEWAY. Not only does
               blockchain technology enables to see every transaction of NEW.
               The NEWAY team commited to be as transparent as possible to create
               the best possible community and atmosphere.
             </div>
           </div>
         </div>
         <div class="col-md margin-top-l">
           <div class="media">
             <img class="mr-1" src="/assets/imgs/piggy-bank.svg" alt="piggy-bank">
             <div class="media-body">
               <h5 class="mt-0">Save money</h5>
               Blockchain technology comes with no transaction costs. Admittely,
               it is not free to exchange NEW against other currencies.
               However, after having bought NEW there will be no more costs.
               In addtion, a <u>guaranteed discount</u> when paying with NEW will more than cover
               these costs.
             </div>
           </div>
         </div>
         </div>
         <div class="row">
          <div class="col-md margin-top-l">
             <div class="media">
               <img class="mr-1" src="/assets/imgs/fairness.svg" alt="world">
               <div class="media-body">
                 <h5 class="mt-0">Fairness</h5>
                 Being a part of the NEWAY community doesn't only mean that you will
                 save money but it will also allow you to help sustainable businesses
                 to develop. You will be awarded not only with NEW tokens but also
                 by making the world a better place!
               </div>
             </div>
           </div>
          <div class="col-md">
             <div class="media margin-top-l">
               <img class="mr-1" src="/assets/imgs/world.svg" alt="world">
               <div class="media-body">
                 <h5 class="mt-0">Future</h5>
                 Being a part of the NEWAY community doesn't only mean that you will
                 save money but it will also allow you to help sustainable businesses
                 to develop. You will be awarded not only with NEW tokens but also
                 by making the world a better place!
               </div>
             </div>
           </div>
         </div>
         <hr class="my-4" />
         <p class="lead">
           <p class="description-of-box">If you want to be a part of of NEWAY whatever you are please apply!</p>
           <a class="btn btn-primary btn-lg" href="#" role="button">Apply!</a>
         </p>
        </div>
        </div>






        <div id="How does NEWAY works?"  class="jumbotron box-shadow">
         <div class="container c216">
           <h2 class="headline-of-box">How does NEWAY work?</h2>

           <p class="lead margin-top-l">
             <p>Click on a picture to get more information!</p>
           </p>
           <div class="c239 c252 margin-bottom non-mobile">

             <img  alt="neway-protocol" class="c253 neway-protocol non-mobile" src="/assets/imgs/neway-protocol-neu-1.svg">

             <svg id="neway-protocol-svg" class="c253 non-mobile" viewBox="0 0 1054 697">



               <rect class="popup-with-zoom-anim pointer non-mobile" href="#projects-pop-up" x="455" y="8" rx="20" ry="20" width="155" height="140"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <rect class="popup-with-zoom-anim pointer non-mobile" href="#community-pop-up" x="150" y="270" rx="20" ry="20" width="190" height="180"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <rect class="popup-with-zoom-anim pointer non-mobile" href="#exchange-pop-up" x="415" y="560" rx="20" ry="20" width="240" height="140"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <rect class="popup-with-zoom-anim pointer non-mobile" href="#business-pop-up" x="730" y="270" rx="20" ry="20" width="200" height="170"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <circle class="popup-with-zoom-anim pointer non-mobile" href="#neway-pop-up" cx="534" cy="284" r="55" stroke="green" stroke-width="4" fill="yellow" opacity="0.5" />
            </svg>
          </div>
          <div class="c239 c252 margin-bottom mobile">
            <img  alt="neway-protocol" class="c253 neway-protocol mobile" src="/assets/imgs/neway-protocol-neu.svg">
            <svg id="neway-protocol-svg" class="c253" viewBox="0 0 210 210">
               <rect class="popup-with-zoom-anim pointer mobile" href="#projects-pop-up" x="88" y="16" rx="20" ry="20" width="35" height="28"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <rect class="popup-with-zoom-anim pointer mobile" href="#community-pop-up" x="6" y="80" rx="20" ry="20" width="50" height="45"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <rect class="popup-with-zoom-anim pointer mobile" href="#exchange-pop-up" x="76" y="160" rx="20" ry="20" width="58" height="28"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <rect class="popup-with-zoom-anim pointer mobile" href="#business-pop-up" x="158" y="80" rx="20" ry="20" width="50" height="45"
               style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
               <circle class="popup-with-zoom-anim pointer mobile" href="#neway-pop-up" cx="106" cy="83" r="11" stroke="green" stroke-width="4" fill="yellow" opacity="0.5" />
<!--
               <text transform="translate(920,210)" class="c254 important-direction">Grow</text>
               <text transform="translate(700,120)" class="c254 important-direction">Create</text>
               <text transform="translate(350,120)" class="c254 important-direction">Invest</text>
               <text transform="translate(97,210)" class="c254 important-direction">Earn NEW</text>
               <text transform="translate(350,320)" class="c254 important-direction">Receive Goods</text>
               <text transform="translate(730,320)" class="c254 important-direction">Earn NEW</text>
               <text transform="translate(200,600)" class="c254 important-direction">Trade NEW</text>
               <text transform="translate(865,600)" class="c254 important-direction">Trade NEW</text>
               <text transform="translate(530,189)" class="c254 important-direction">Projects</text>
               <text transform="translate(530,670)" class="c254 important-direction">Exchange</text> -->
             </svg>
           </div>
           <p class="lead">
             <p>NEW = NEWAY's tokens</p>
           </p>
         </div>
       </div>



       <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
       <div id="projects-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Projects</h2>
         </div>
         <div class="important-listings">
           <p>can be created by businesses</p>
           <p>can be financed by the community</p>
           <p>Examples are...</p>
          </div>
       </div>
       <div id="community-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Community</h2>
         </div>
         <div class="important-listings">
           <p>can invest in projects and therefore earn NEW as interest</p>
           <p>buys goods with NEW</p>
           <p>can trade NEW on an external exchange platform</p>
         </div>
         <p><small>NEW = NEWAY's tokens</small></p>
       </div>
       <div id="exchange-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Exchange</h2>
         </div>
         <div class="important-listings">
           <p>The place where NEW is traded against other currencies</p>
           <p>Buy NEW</p>
           <p>Withdraw NEW</p>
         </div>
         <p><small>NEW = NEWAY's tokens</small></p>
       </div>
       <div id="business-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>Businesses</h2>
         </div>
         <div class="important-listings">
           <p>can create new projects which are financed by the community</p>
           <p>receive NEW in exchange for goods</p>
           <p>can trade NEW on an external exchange platform</p>
         </div>
         <p><small>NEW = NEWAY's tokens</small></p>
       </div>
       <div id="neway-pop-up" class="zoom-anim-dialog mfp-hide small-dialog">
         <div class="underline-header">
           <h2>NEWAY Platform</h2>
         </div>
           <div class="important-listings">
           <p>connects everything over the blockchain</p>
         </div>
       </div>



                <div id="Roadmap">
                  <div class="c87 c88"  id="particles-js-2">
                    <div class="container c216">
                      <div class="c86" style="z-index:100;position:relative">
                        <h2 class="white" style="position:relative">Roadmap</h2>
                        <div class="c319">
                          <div class="top">
                            <div class="time-line-box active empty">
                              <div class="dot">
                                <div class="waves">

                                </div>
                              </div>
                              <div class="pointer">

                              </div>
                              <div class="box-content">
                                <div class="date">
                                  PHASE 1
                                </div>
                                <div class="description"> Alpha version
                                </div>
                              </div>
                            </div>
                            <div class="time-line-box  ">
                              <div class="dot">
                                <div class="waves">

                                </div>
                              </div>
                              <div class="pointer">

                              </div>
                              <div class="box-content">
                                <div class="date">   Q2 2019 - PHASE 2
                                </div>
                                <div class="description"> Beta version
                              </div>
                            </div>
                          </div>
                          <div class="time-line-box  empty">
                            <div class="dot">
                              <div class="waves">

                              </div>
                            </div>
                            <div class="pointer">

                            </div>
                            <div class="box-content">
                              <div class="date">   PHASE 3
                              </div>
                              <div class="description"> Commercial version of NEWAY
                              </div>
                            </div>
                          </div>
                          <div class="time-line-box  ">
                            <div class="dot">
                              <div class="waves">

                              </div>
                            </div>
                            <div class="pointer">

                            </div>
                            <div class="box-content">
                              <div class="date">   Q3 2019 AND ON GOING
                              </div>
                              <div class="description"> Ongoing iterations and expansions
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="bar">

                        </div>
                        <div class="bottom">
                          <div class="time-line-box active ">
                            <div class="dot"><div class="waves">

                            </div>
                          </div>
                          <div class="pointer">

                          </div>
                          <div class="box-content">
                            <div class="date">
                              PHASE 1
                            </div>
                            <div class="description">
                              Alpha version
                              </div>
                            </div>
                          </div>
                          <div class="time-line-box  empty">
                            <div class="dot">
                              <div class="waves">

                              </div>
                            </div>
                            <div class="pointer">

                            </div>
                            <div class="box-content">
                              <div class="date">
                                Q1 2019 - PHASE 2
                              </div>
                              <div class="description">
                                Beta version
                              </div>
                            </div>
                          </div>
                          <div class="time-line-box  ">
                            <div class="dot">
                              <div class="waves">

                              </div>
                            </div>
                            <div class="pointer">

                            </div>
                            <div class="box-content">
                              <div class="date">   PHASE 3
                              </div>
                              <div class="description">
                                Commercial version 1 of NEWAY
                              </div>
                            </div>
                          </div>
                          <div class="time-line-box  empty">
                            <div class="dot"><div class="waves">

                            </div>
                          </div>
                          <div class="pointer">

                          </div>
                          <div class="box-content">
                            <div class="date">
                              Q3 2019 AND ON GOING
                            </div>
                            <div class="description">
                              Ongoing iterations and expansions
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div id="Team"  class="jumbotron box-shadow">
             <div class="container c216">
                <h2 class="headline-of-box">Team</h2>
                  <div class="row">
                    <div class="c293">
                      <div class="c294" tabindex="-1">
                        <img alt="" src="/assets/imgs/gecko.jpg">
                        <div class="c296">Rick Warling</div>
                        <div class="c297">Managing Director</div>
                      </div>
                      <div class="c295" onclick="void(0)">
                        <div class="c296">Rick Warling</div>
                        <div class="c297">Founder of NEWAY</div>
                        <div class="c298"></div>
                        <!-- <div class="c299">
                          <a href="" title="Rick Warling's Profile">
                            <img src="/static/images/home-team/icon-linkedin.svg" alt="Rick Warling's Profile">
                          </a>
                        </div> -->
                        <div class="c300">Description
                        </div>
                      </div>
                    </div>
                    <div class="c293">
                      <div class="c294" tabindex="-1">
                        <img alt="" src="/assets/imgs/valerio.png">
                        <div class="c296">Valerio Nicoli</div>
                        <div class="c297">PR Manager</div>
                      </div>
                      <div class="c295"  onclick="void(0)">
                        <div class="c296">Valerio Nicoli</div>
                        <div class="c297">Founder of NEWAY</div>
                        <div class="c298"></div>
                        <!-- <div class="c299">
                          <a href="" title="Rick Warling's Profile">
                            <img src="/static/images/home-team/icon-linkedin.svg" alt="Rick Warling's Profile">
                          </a>
                        </div> -->
                        <div class="c300">Description
                        </div>
                      </div>
                    </div>
                  </div>
              <h2 class="headline-of-box">Advisors</h2>
                  <div class="row">
                    <div class="c293">
                      <div class="c294" tabindex="-1">
                        <img alt="" src="/assets/imgs/gecko.jpg">
                        <div class="c296">Otis Claeys</div>
                        <div class="c297">Financial advisor</div>
                      </div>
                      <div class="c295" onclick="void(0)">
                        <div class="c296">Otis Claeys</div>
                        <div class="c297">CEO L.C.M.A. SA</div>
                        <div class="c298"></div>
                        <!-- <div class="c299">
                          <a href="" title="Rick Warling's Profile">
                            <img src="/static/images/home-team/icon-linkedin.svg" alt="Rick Warling's Profile">
                          </a>
                        </div> -->
                        <div class="c300">Description
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>










        <div  id="Partners" class="jumbotron c211 forget-top-shadow">
          <div class="container c216">
            <h2 class='headline-of-box'>Partners</h2>
            <p class="description-of-box">Our Partners will be displayed here!</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>





      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/assets/js/jquery.magnific-popup.js"></script>
      <script src="/assets/js/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
      <script>particlesJS.load('particles-js', '/assets/particles.json', function() {
        console.log('callback - particles.js config loaded'); });
            particlesJS.load('particles-js-2', '/assets/particles.json', function() {
        console.log('callback - particles.js-2 config loaded'); });
      </script>


  </body>
</html>
